.intro-header {
    min-height: 580px;
}

.continue {
    width: 50px;
}

.dedication {
    color: #34495e;
}

@media only screen {
    /* XXS (iPhone SE) */
    @media (max-width: 324px) {
        .intro-header {
            min-height: 600px;
        }
    }

    /* From SM and up */
    @media (min-width: 768px) {
        .intro-header {
            min-height: 620px;
        }
    }

    /* XS and height >= 580 */
    @media (max-width: 767px) and (min-height: 580px),
    /* SM and up and height >= 620 */
           (min-width: 768px) and (min-height: 620px) {
    .intro-header .continue {
        bottom: 8%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
}

.intro-header .self {
    position: unset;
    top: 1em;
}

.h1_home {
    font-size: 40px;
    letter-spacing: 4px;
}

@media only screen and (max-width: 767px) {
    .button_down {
        display: unset;
    }

    .col-sm-4 {
        margin-bottom: 3em;
    }
}

@media only screen and (min-width: 768px) {
    .continue {
        margin-top: 2em;
    }

    .h1_home {
        font-size: 50px;
    }

    .intro-social-buttons {
        margin-top: 2em;
    }

    .intro-social-buttons li {
        padding-left: .7em !important;
        padding-right: .7em !important;
    }

    #whoami .row + .row {
        margin-top: 3em;
    }
}

@media only screen and (min-width: 960px) {
    .h1_home {
        font-size: 60px;
    }

    /*.intro-header {
        min-height: 620px;
    }*/
}

.h2_home, .h3_home, .h4_home, .h5_home, .wrap_title p {
    font-weight: 300;
}

.intro-social-buttons li {
    display: inline-block !important;
    padding-left: .2em !important;
    padding-right: .2em !important;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-4 {
    margin-top: 4em;
}

.wrap_title {
    margin-bottom: 3em;
}

#whoami .lead {
    margin-bottom: .5em;
}

footer.banner {
    background: unset;
    background-color: #34495e;
    color: #fff;
    padding: 1.5em 2.5em;
}

footer.banner a {
    color: #fff;
}

footer.banner a:hover {
    color: #1abc9c;
}

footer.banner p {
    margin-bottom: 0;
    line-height: unset;
}

footer.banner p.faded {
    color: #89AACB;
}
